body{
	background: #ffffff;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 2.2em;
	color: #000000;
}

.first{
	width: 50%;
}

.main{
	width: 60%;
	color: #777777;
}

.caption{
	text-align: right;
	margin-top: 0px;
}

.parent{
	width: 80%;
	margin: auto;
}